extends layout

block content
  h2= "Welcome to AuthRocks!"
  if authenticated
    br
    div
      p Welcome back!
      p You have successfully authenticated against your Okta org, and have been redirected back to this application.
      p Visit the #[a(href="/profile") My Profile] page in this application to view the information retrieved with your OAuth Access Token.
  else
    br
    div
      p This is a sample application that demonstrates an authentication flow for an web application. 
      
      
        
