body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button{
  background-color: #4CAF50;
}

btn:hover{
  border-left: 3px solid blue;
}

div.a{
  float: left;
  width: 50%;
}

div.b{
  float: right;
  width: 50%;
}